/* Header section */
* {
  list-style: none;

  .btn {
    white-space: nowrap;
  }
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  height: fit-content;
}

.container {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1170px;
  }
}

.fixed-top {
  background-color: #151319;
}

