.stay-in-touch {
  background-color: #ededed;
  height: 715px;

  .stay-in-touch__container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .contacts {
    width: 100%;
    margin-bottom: 70px;

    .contacts__title {
      width: 100%;
      text-align: center;

      h6 {
        @include titleSmall(41px 0 0 0);
      }

      h2 {
        @include titleBig(-6px 0 28px 0);
        color: #111111;
      }

      span {
        @include blueDashes(url("../img/border-w.png"));
        background-position: top left;
        display: block;
        height: 25px;
        width: 44px;
        margin: 0 auto;
      }
    }

    .contacts__blocs {
      margin-top: 29px;

      .row {
        display: flex;
        justify-content: space-around;

        .col {
          text-align: center;

          .icon i {
            font-size: 32px;
          }

          .text {
            margin-top: 18px;
            padding-right: 3px;
          }

          .text a {
            font-size: 18px;
            line-height: 26px;
            color: #999999;
            font-weight: 400;
            margin-bottom: 0;
          }

          #supp {
            margin-left: 3px;
          }
        }
      }
    }
  }
}

.map, .map-block {
  position: relative;
}


@media (max-width: 768px) {
  .contacts__blocs {
    .row {
      flex-direction: column;
    }
  }
}

/* Form */
.contact-form {
  width: 66%;
  height: 355px;
  z-index: 3;
  background-color: #151319;

  form {
    padding: 58px 83px 38px 65px;

    #input-fields {
      display: flex;
      align-items: center;
      div {
        display: flex;
        flex-direction: column;
        input{
          border: #444247 solid 1px;
          color: #444247;
          background-color: transparent;
          display: inline-block;
          letter-spacing: -0.6px;
          resize: none;
          height: 47px;
          width: 304px;
          padding-left: 17px;
          margin-bottom: 23px;
        }
      }
    }


    #message{
      height: 188px;
      width: 300px;
      margin-left: 18px;
      padding: 10px 0 0 17px;
      border: #444247 solid 1px !important;
    }

    .btn {
      height: 50px;
      width: 160px;
      font-size: 14px;
      line-height: 40px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
      border: none;
      background-color: #008ed6;
      float: right;
      margin-right: 3px;
    }
  }
}
.contact-form form #message {
  height: 188px;
  width: 300px;
  margin-left: 18px;
  padding: 10px 0 0 17px;
  border: #444247 solid 1px !important;
  margin-top: -19px;
}
@media (max-width: 993px) {
  .contact-form {
    height: fit-content;

    form {
      padding: 28px 43px 15px 30px;

      #input-fields {
        flex-direction: column;
      }

      input {
        height: 47px;
        width: 100%;
        padding-left: 17px;
        margin-bottom: 23px;
      }

      #message {
        height: 188px;
        margin-left: 0;
      }

      .btn {
        margin: 10px 34%;
        float: none;
      }
    }
  }
}

@media (max-width: 769px) {
  .stay-in-touch {
    height: 994px;
  }
  .contact-form {
    width: 85%;
  }
}

label.error {
  display: none !important;
}

input.form-control {
  background-color: transparent !important;
}